{{if eq .Lang "zh-CN"}}
	<a class="item" href="{{AppSubUrl}}apks/index.html">应用</a>
	<a class="item" href="{{AppSubUrl}}/about/index.html">关于</a>
	<a class="item" href="https://t.me/gitapk">Telegram</a>
{{else if eq .Lang "zh-TW"}}
	<a class="item" href="{{AppSubUrl}}apks/index.html">應用程式</a>
	<a class="item" href="{{AppSubUrl}}/about/index.html">關於</a>
	<a class="item" href="https://t.me/gitapk">Telegram</a>
{{else}}
	<a class="item" href="{{AppSubUrl}}apks/index.html">Apps</a>
	<a class="item" href="{{AppSubUrl}}/about/index.html">About</a>
	<a class="item" href="https://t.me/gitapk">Telegram</a>
{{end}}
