{{if eq .Lang "zh-CN"}}
	<a href="https://gitapk.popf.rip/apks/index.html">应用</a>
	<a href="https://gitapk.popf.rip/about/">关于</a>
	<a href="https://t.me/gitapk">Telegram</a>
{{else if eq .Lang "zh-TW"}}
	<a href="https://gitapk.popf.rip/apks/index.html">應用程式</a>
	<a href="https://gitapk.popf.rip/about/">關於</a>
	<a href="https://t.me/gitapk">Telegram</a>
{{else}}
	<a href="https://gitapk.popf.rip/apks/index.html">Apps</a>
	<a href="https://gitapk.popf.rip/about/">About</a>
	<a href="https://t.me/gitapk">Telegram</a>
{{end}}
