{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					GitApk - Android apps with a cup of tea
				</h1>
				<h2>Built on {{.i18n.Tr "app_desc"}} 👾</h2>
			</div>
		</div>
	</div>
	{{if eq .Lang "de-DE"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Einfach zu installieren
				</h1>
				<p class="large">
					Starte einfach <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">die Anwendung</a> für deine Plattform. Gitea gibt es auch für <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a>, <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a> oder als <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">Installationspaket</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Plattformübergreifend
				</h1>
				<p class="large">
					Gitea läuft überall. <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> kompiliert für: Windows, macOS, Linux, ARM, etc. Wähle dasjenige System, was dir am meisten gefällt!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Leichtgewicht
				</h1>
				<p class="large">
					Gitea hat minimale Systemanforderungen und kann selbst auf einem günstigen und stromsparenden Raspberry Pi betrieben werden.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Quelloffen
				</h1>
				<p class="large">
					Der komplette Code befindet sich auf <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Unterstütze uns bei der Verbesserung dieses Projekts. Trau dich!
				</p>
			</div>
		</div>
	{{else if eq .Lang "zh-TW"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 易安裝
				</h1>
				<p class="large">
					直接用 <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/zh-cn/install-from-binary/">執行檔安裝</a>，還可以透過 <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> 或 <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>，以及 <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/zh-cn/install-from-package/">套件</a>安装。
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 跨平台
				</h1>
				<p class="large">
					Gitea 可以運作在任何 <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go 語言</a>能夠編譯的平台: Windows, macOS, Linux, ARM 等等。挑一個您喜歡的就好。
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 輕量級
				</h1>
				<p class="large">
					一個便宜的樹莓派 Raspberry Pi 就可以滿足 Gitea 的最低系統需求，節省機器資源！
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 開源化
				</h1>
				<p class="large">
					所有程式碼都在 <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a> 上，加入我們讓 Gitea 更好，別害羞，你可以做到的。
				</p>
			</div>
		</div>
	{{else if eq .Lang "zh-CN"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 易安装
				</h1>
				<p class="large">
					您除了可以根据操作系统平台通过 <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/zh-cn/install-from-binary/">二进制运行</a>，还可以通过 <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> 或 <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>，以及 <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/zh-cn/install-from-package/">包管理</a> 安装。
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 跨平台
				</h1>
				<p class="large">
					任何 <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go 语言</a> 支持的平台都可以运行 Gitea，包括 Windows、Mac、Linux 以及 ARM。挑一个您喜欢的就行！
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 轻量级
				</h1>
				<p class="large">
					一个廉价的树莓派的配置足以满足 Gitea 的最低系统硬件要求。最大程度上节省您的服务器资源！
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 开源化
				</h1>
				<p class="large">
					所有的代码都开源在 <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a> 上，赶快加入我们来共同发展这个伟大的项目！还等什么？成为贡献者吧！
				</p>
			</div>
		</div>
	{{else if eq .Lang "fr-FR"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Facile à installer
				</h1>
				<p class="large">
					Il suffit de <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">lancer l'exécutable</a> correspondant à votre système.
					Ou d'utiliser Gitea avec <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> ou
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>
					ou en l'installant depuis un <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">package</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Multi-plateforme
				</h1>
				<p class="large">
					Gitea tourne partout où <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> peut être compilé : Windows, macOS, Linux, ARM, etc. Choisissez votre préféré !
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Léger
				</h1>
				<p class="large">
					Gitea utilise peu de ressources. Il peut même tourner sur un Raspberry Pi très bon marché. Économisez l'énergie de vos serveurs !
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Open Source
				</h1>
				<p class="large">
					Toutes les sources sont sur <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a> ! Rejoignez-nous et contribuez à rendre ce projet encore meilleur.
				</p>
			</div>
		</div>
	{{else if eq .Lang "es-ES"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Fácil de instalar
				</h1>
				<p class="large">
					Simplemente <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">arranca el binario</a> para tu plataforma. O usa Gitea con <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> o <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, o utilice el <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">paquete</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Multiplatforma
				</h1>
				<p class="large">
					Gitea funciona en cualquier parte, <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> puede compilarse en: Windows, macOS, Linux, ARM, etc. !Elige tu favorita!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Ligero
				</h1>
				<p class="large">
					Gitea tiene pocos requisitos y puede funcionar en una Raspberry Pi barata. !Ahorra energía!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Open Source
				</h1>
				<p class="large">
					¡Está todo en <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Uniros contribuyendo a hacer este proyecto todavía mejor. ¡No seas tímido y colabora!
				</p>
			</div>
		</div>
	{{else if eq .Lang "pt-BR"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Fácil de instalar
				</h1>
				<p class="large">
					Simplesmente <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">rode o executável</a> para o seu sistema operacional. Ou obtenha o Gitea com o <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> ou <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, ou baixe o <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">pacote</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Multi-plataforma
				</h1>
				<p class="large">
					Gitea roda em qualquer sistema operacional em que <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> consegue compilar: Windows, macOS, Linux, ARM, etc. Escolha qual você gosta mais!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Leve e rápido
				</h1>
				<p class="large">
					Gitea utiliza poucos recursos e consegue mesmo rodar no barato Raspberry Pi. Economize energia elétrica da sua máquina!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Código aberto
				</h1>
				<p class="large">
					Está tudo no <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Contribua e torne este projeto ainda melhor. Não tenha vergonha de contribuir!
				</p>
			</div>
		</div>
	{{else if eq .Lang "ru-RU"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Простой в установке
				</h1>
				<p class="large">
					Просто <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">запустите исполняемый файл</a> для вашей платформы. Изпользуйте Gitea с <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> или <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, или загрузите <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">пакет</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Кроссплатформенный
				</h1>
				<p class="large">
					Gitea работает на любой операционной системе, которая может компилировать <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a>: Windows, macOS, Linux, ARM и т. д. Выбирайте, что вам больше нравится!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Легковесный
				</h1>
				<p class="large">
					Gitea имеет низкие системные требования и может работать на недорогом Raspberry Pi. Экономьте энергию вашей машины!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Открытый исходный код
				</h1>
				<p class="large">
					Всё это на <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Присоединяйтесь к нам, внося вклад, чтобы сделать этот проект еще лучше. Не бойтесь помогать!
				</p>
			</div>
		</div>
	{{else if eq .Lang "nl-NL"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Makkelijk te installeren
				</h1>
				<p class="large">
					Je hoeft alleen maar de <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">binary</a> uit te voeren. Of gebruik Gitea met <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a>, <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, of download een <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">installatiepakket</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Cross-platform
				</h1>
				<p class="large">
					Gitea werkt op alles waar <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> op kan compileren: Windows, macOS, Linux, ARM, etc. Kies het platform dat bij je past!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Lichtgewicht
				</h1>
				<p class="large">
					Gitea heeft hele lage systeemeisen, je kunt Gitea al draaien op een goedkope Raspberry Pi.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Open Source
				</h1>
				<p class="large">
					Alles staat op <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Help ons door mee te bouwen aan Gitea, samen maken we dit project nog beter. Aarzel dus niet om een bijdrage te leveren!
				</p>
			</div>
		</div>
	{{else}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Easy to install
				</h1>
				<p class="large">
					Simply <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">run the binary</a> for your platform. Or ship Gitea with <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> or <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, or get it <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">packaged</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Cross-platform
				</h1>
				<p class="large">
					Gitea runs anywhere <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> can compile for: Windows, macOS, Linux, ARM, etc. Choose the one you love!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Lightweight
				</h1>
				<p class="large">
					Gitea has low minimal requirements and can run on an inexpensive Raspberry Pi. Save your machine energy!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Open Source
				</h1>
				<p class="large">
					It's all on <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/">GitHub</a>! Join us by contributing to make this project even better. Don't be shy to be a contributor!
				</p>
			</div>
		</div>
	{{end}}
</div>
{{template "base/footer" .}}
